@import "tailwindcss";

@theme {
  /* В v4 мы пишем префикс --color- , чтобы потом использовать bg-m-black */
  --color-m-black: #121212;
  --color-m-dark: #1e1e1e;
  --color-m-accent: #ffcc00;
}

/* Используем обычный CSS для фона body, так надежнее */
body {
  background-color: #121212;
  color: white;
  margin: 0;
  font-family: sans-serif;
}